build
dist
dannce.egg-info
__pycache__
dannce/engine/__pycache__/
dannce/labeling/__pycache__/
old_repo/
demo/calibrd18_black6_mouseone_green/videos/
demo/calibrd18_black6_mousetwo_green/videos/

demo/calibrd18_black6_mouseone_green/labeling/imDir/
demo/calibrd18_black6_mousetwo_green/labeling/imDir/
demo/calibrd18_black6_mousetwo_green/labeling/imDir_reproject/

demo/calibrd18_black6_mouseone/
demo/calibrd18_black6_mouseone_green/
demo/calibrd18_black6_mouseone_green_William/
demo/calibrd18_black6_mousetwo_green_William/
demo/calibrd18_black6_mousetwo_green/

demo/markerless_mouse_1/DANNCE/train_results/weights.12000-0.00014.hdf5
demo/markerless_mouse_1/DANNCE/train_results/AVG/weights.1200-12.77642.hdf5
