build
dist
dannce.egg-info
__pycache__
dannce/engine/__pycache__/
dannce/labeling/__pycache__/
old_repo/
demo/calibrd18_black6_mouseone_green/videos/
demo/calibrd18_black6_mousetwo_green/videos/

demo/calibrd18_black6_mouseone_green/labeling/imDir/
demo/calibrd18_black6_mousetwo_green/labeling/imDir/
demo/calibrd18_black6_mousetwo_green/labeling/imDir_reproject/

demo/calibrd18_black6_mouseone/
demo/calibrd18_black6_mouseone_green/
demo/calibrd18_black6_mouseone_green_William/
demo/calibrd18_black6_mousetwo_green_William/
demo/calibrd18_black6_mousetwo_green/

demo/markerless_mouse_1/DANNCE/train_results/weights.12000-0.00014.hdf5
demo/markerless_mouse_1/DANNCE/train_results/fullmodel_weights/*
demo/markerless_mouse_1/DANNCE/train_results/AVG/weights.1200-12.77642.hdf5
demo/markerless_mouse_1/DANNCE/train_results/logs/*
demo/markerless_mouse_1/DANNCE/train_test/logs/*
demo/markerless_mouse_1/DANNCE/train_results/weights*
demo/markerless_mouse_1/DANNCE/train_results/*.pickle
demo/markerless_mouse_1/DANNCE/train_results/*.csv
demo/markerless_mouse_1/DANNCE/train_results/logs/
demo/markerless_mouse_1/DANNCE/predict_results/
demo/markerless_mouse_1/DANNCE/train_results/AVG/weights*
demo/markerless_mouse_1/DANNCE/predict_test/

demo/markerless_mouse_1/COM/train_test/
demo/markerless_mouse_1/COM/train_test/logs/*
demo/markerless_mouse_1/COM/train_test/*.pickle
demo/markerless_mouse_1/COM/train_test/*.csv
demo/markerless_mouse_1/COM/train_test/weights*
demo/markerless_mouse_1/DANNCE/train_test/
demo/markerless_mouse_1/COM/predict_test/
demo/markerless_mouse_1/COM/train_results/weights*
demo/markerless_mouse_1/COM/train_results/*.pickle
demo/markerless_mouse_1/COM/train_results/*.csv
demo/markerless_mouse_1/COM/train_results/logs

demo/markerless_mouse_1/COM/train_results/copy*
demo/markerless_mouse_1/COM/predict_results/copy*
demo/markerless_mouse_1/DANNCE/train_results/copy*

demo/markerless_mouse_2/COM/train_results/copy*
demo/markerless_mouse_2/COM/predict_results/copy*
demo/markerless_mouse_2/DANNCE/train_results/copy*
demo/markerless_mouse_2/DANNCE/predict_results/copy*

demo/markerless_mouse_1/videos/
demo/markerless_mouse_2/videos/
