
# BASEDIR DEPRECATED. WILL REMOVE
BASEDIR: /home/twd/Dropbox/DANNCE/labeling_/RecordingP7Pup_one/

# path to folder containing formatted data files 
#datadir: /home/twd/Dropbox/DANNCE/labeling_/RecordingP7Pup_one/
datadir: ./labeling_/RecordingP7Pup_one/

# path to folder contraining video sub directories
viddir: /home/twd/Dropbox/mocapdata_for_tim/CameraCalib_rd16_20190618/RecordingP7Pup_one/

# names of data files. must match the order of CAMNAMES below
datafile: ['CameraLmouse_data_applyDistort','CameraRmouse_data_applyDistort','CameraSmouse_data_applyDistort','CameraLmouse_data_applyDistort','CameraRmouse_data_applyDistort','CameraSmouse_data_applyDistort']

# Names for each of the camera subdirectories in the video folder. Order should match the datafiles above.
# Note that we need 6 views total to fine-tune from rat, even if it means repeatign a view. As we only have
# 5 good views from this mosue experiment, we duplicate Camera 3 at input.
CAMNAMES: ['CameraLmouse', 'CameraRmouse', 'CameraSmouse','CameraLmouse', 'CameraRmouse', 'CameraSmouse']

# path to folder with DANNCE formated camera calibration parameters
CALIB_DIR: /home/twd/Dropbox/mocapdata_for_tim/CameraCalib_rd16_20190618/20190617_calibration_pup/

# names of each camera calibration file. Order should match CAMNAMES and datafiles above
calib_file: ['hires_cam2_params.mat','hires_cam3_params.mat','hires_cam1_params.mat','hires_cam2_params.mat','hires_cam3_params.mat','hires_cam1_params.mat']

# path to COM file
COMfilename: /home/twd/Dropbox/DANNCE/dannce/results/COM/calibrd16_Pup_P7_one/COM_undistorted.pickle

extension: .mp4